body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-position: bottom;
  background-size: 100%;
}

p {
  margin: 0;
  letter-spacing: 1px;
  line-height: 22px;
  font-weight: 200;
  text-align: left;
}

.page-title {
  margin: 0;
  margin-left: 93px;
  padding: 40px;
  padding-top: 80px;
  padding-bottom: 10px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
}

/*HEADER*/
.navbar {
  position: absolute;
  top: 78px;
  right: 135px;
}

.navigation-bar {
  height: 90px;
  padding-left: 80px;
  padding-right: 135px;
  padding-top: 40px;
}

.logo {
  width: 110px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar > a {
  color: white;
  padding-left: 40px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
}

a.current {
  text-decoration: underline;
}

/*HOME*/
.homepage > div > h1 {
  font-family: Roboto;
  text-align: center;
  font-weight: 900;
  font-size: 160px;
  line-height: 150px;
  padding-top: 4px;
  color: rgb(255, 255, 255);
}

.overlay-image {
  height: 1120px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.homepage {
  padding: 65px 0 64px 0;
}

/*BOXES*/
.row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  background-color: rgba(0, 0, 0, 0.705);
  border-color: rgba(255, 255, 255, 0.30196078431372547);
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  display: flex;
  width: 30%;
  height: 65%;
  flex-direction: column;
  border-radius: 5px;
  justify-content: flex-start;
}

.box-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

.box-image {
  height: 300px;
  margin: 20px 0 20px 0;
}

.box > p {
  text-align: left;
}

/*IMAGES*/
.image1 {
  background-image: url("../img/mixed-team.jpg");
  background-position-x: -50px;
}

.image2 {
  background-image: url("../img/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url("../img/girl-team.jpg");
  background-size: cover;
  background-position-x: -61px;
}

/*CONTAINERS*/
.content {
  margin: 2vh 135px 5vh 135px;
  color: white;
  height: 60vh;
  overflow: scroll;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.content-background {
  border: rgba(255, 255, 255, 0.30196078431372547) solid 1px;
  display: inherit;
  background-color: rgba(0, 0, 0, 0.705);
}

.inside-row {
  height: 100%;
  margin-top: 30px;
  padding: 15px;
}

/*RULES*/
.inside-row > h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 6px 0;
}

/*CONTACT LINK COLOR*/
.content > div > p > a {
  color: white;
}

/*RULES*/
li > p {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}

ul {
  margin: 1px;
  font-size: 8px;
}

ol {
  margin: 1px;
  font-size: 8px;
}

ol > li > ol {
  list-style-type: lower-alpha;
}

span {
  font-weight: 600;
}

/*REGISTRATION*/
fieldset {
  border-width: 0;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.element > input {
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 0px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 0.30196078431372547);
  color: rgba(255, 255, 255, 0.767);
}

.element {
  flex-grow: 1;
  display: flex;
}

/*FOOTER*/
.footer {
  text-align: center;
  color: white;
  height: 2vh;
  padding-top: 0px;
  padding-bottom: 10px;
  left: 46%;
  right: 46%;
  font-weight: 200;
  letter-spacing: 1px;
}

.correction {
  margin-top: -2px;
}

.row-game {
  width: 100%;
}

.table-feedback {
  background: rgba(0, 0, 0, 0.705);
  border-radius: 5px;
  color: white;
  align-self: center;
}

/*GAME INFO*/

.content-game {
  margin: 2vh 135px 5vh 135px;
  color: white;
  height: 60vh;
  overflow: scroll;
  border-radius: 5px;
}

.row3 {
  width: 100%;
  display: flex;
}

table {
  background-color: rgba(0, 0, 0, 0.705);
  border: 1px solid rgba(255, 255, 255, 0.30196078431372547);
  font-size: 14px;
  margin-bottom: 12px;
  border-radius: 5px;
}

td {
  padding: 8px 52px;
  border-bottom: 1px rgba(255, 255, 255, 0.30196078431372547) solid;
}

th {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 50px;
}

.maps > div {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.705);
  border: 1px solid rgba(255, 255, 255, 0.30196078431372547);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  flex-basis: 30%;
  margin-bottom: 10px;
}

.maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {
  padding: 3px;
  border-radius: 5px;
}

tr:last-child > td {
  border-bottom: 0;
}

.table5 {
  width: 100%;
}

.element {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

label {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: baseline;
}

.radio {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.radio3 {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.radio3 > label {
  flex: 40%;
}

.radio > label {
  flex: 40%;
  padding-bottom: 5px;
  flex-grow: 1;
}

.radio2 {
  display: flex;
  flex-flow: column wrap;
  height: 160px;
  flex-grow: 1;
}

.radio2 > label {
  padding-bottom: 20px;
}

input:focus {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
  border-bottom: rgba(255, 255, 255, 0.548) 1px solid;
}

select {
  flex-grow: 1;
}

input[type="submit"] {
  -webkit-appearance: none;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  border-radius: 5px;
  color: black;
  background-color: white;
  box-sizing: border-box;
  padding: 5px 12px 5px 12px;
  margin-left: 10px;
  border-width: 0;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  display: flex;
}
